.toolbar-root {
    width: 100%;
    height: 100px;
    background-color: #313131;
    color: white;
    font-weight: bold;
    position: relative;
}

.toolbar-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-button {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.toolbar-button:hover {
    background-color: #ee6b2f;
}

.toolbar-button-active {
    background-color: #E3350D;
} 

.toolbar-language-selector {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.toolbar-language-selector-inline {
    margin: auto;
    margin-right: 1rem;
}

.toolbar-select {
    width: 50px;
    max-width: 150px;
    display: flex;
    margin: auto;
    background: inherit;
}

.toolbar-label {
    display: flex;
    vertical-align: top;
}
@media only screen and (max-width: 1024px){
    .toolbar-button {
        width:30%;
    }
    .toolbar-content {
        justify-content: start;
    }
    .toolbar-language-selector-inline {
        margin-right: 0;
    }
}